<div class="card" id="invoice-edit-card" data-invoice-id="<%= invoiceId %>" data-base-path="<%= typeof basePath !== 'undefined' ? basePath : '' %>">
    <div class="card-body">
        <div id="invoice-edit-loading" class="text-center text-secondary-light py-24">Loading invoice…</div>
        <div id="invoice-edit-content" class="d-none"></div>
        <div id="invoice-edit-error" class="d-none text-center text-danger py-24"></div>
    </div>
</div>

<% script = '<script src="/js/api/invoiceApi.js"></script><script src="/js/pages/invoice-edit.js"></script>' %>
