<div class="card h-100 p-0 radius-12" id="rental-view-root" data-rental-id="<%= typeof rentalId !== 'undefined' ? rentalId : '' %>" data-base-path="<%= typeof basePath !== 'undefined' ? basePath : '' %>">
    <div class="card-body p-24">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-xl-11 col-lg-12">
                <% if (typeof query !== 'undefined' && query && query.returned === '1') { %>
                <div class="alert alert-success radius-12 mb-24 d-flex align-items-center gap-2" id="rental-returned-alert">
                    <iconify-icon icon="mdi:check-circle-outline"></iconify-icon>
                    Return processed. Vehicle is now available.
                </div>
                <% } %>
                <p id="rental-view-loading" class="text-center text-secondary-light py-24">Loading rental…</p>
                <div id="rental-view-content" class="d-none"></div>
                <div id="rental-view-error" class="d-none text-center text-danger py-24"></div>
            </div>
        </div>
    </div>
</div>

<% script = '<script src="/js/api/rentalApi.js"></script><script src="/js/api/invoiceApi.js"></script><script src="/js/pages/rental-view.js"></script>' %>
